/* Hero */

.hero{
    background: linear-gradient(rgba(0, 0, 0, 0.596), rgba(0, 0, 0, 0.795)), url(https://images.unsplash.com/photo-1423666639041-f56000c27a9a?w=1600) center / cover;
    height: 50vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    text-align: center;
}

.hero__big-text{
    font-size: 9rem;
    font-weight: normal;
}

.hero__small-text{
    color: var(--subtleAccent);
    font-weight: 300;
    font-size: 2.3rem;
    letter-spacing: 2px;
}

/* Utilities */

.box{
    border: 1px solid var(--mainAccentAlpha);
    padding: 4rem;
    background-color: var(--negativeSpaceLight);
}

.ps{
    color: var(--subtleNegativeSpace);
    font-size: 1.2rem;
    font-style: italic;
}

/* Contact Page */

.contact{
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 6rem;

    background-color: var(--negativeSpace);
    padding: 10rem;
}

/* LEFT SIDE */
/* Contact Form */

.contact__form-group{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-group__subtitle{
    color: var(--subtleNegativeSpace);
    font-size: 1.4rem;
}

.form-group__form{
    display: flex;
    flex-direction: column;
}

.send-button{
    background-color: var(--mainAccent);
    color: black;
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.1rem;

    padding: 1.5rem;
    width: 100%;

    transition: 0.2s;
}

.send-button:hover{
    transform: translateY(-2px);
    box-shadow: 0 0.5rem 2rem rgba(212, 175, 55, 0.4);
}

/* RIGHT SIDE */

.contact__information{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.information__container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.container__spacing{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.container__label{
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: var(--subtleNegativeSpace);
    font-family: var(--textFont);
    font-weight: 400;
}

.container__text{
    color: var(--subtleAccent);
    font-family: var(--textFont);
    font-weight: 400;
    font-size: 1.5rem;
}

.container__text--email{
    color: var(--mainAccent);
}