/* Footer */

.footer__container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4rem;
}

.footer__section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.footer__text{
    color: var(--subtleNegativeSpace);
    font-size: 1.4rem;
}

.footer__title{
    margin-bottom: 1.5rem;
    font-size: 3rem;
}

.footer__link{
    color: var(--subtleNegativeSpace);
    font-size: 1.4rem;

    transition: color 0.2s;
}

.footer__link:hover{
    color: var(--mainAccent);
}

.footer__bottom{
    border-top: 1px solid var(--mainAccentAlpha);
    margin-top: 5rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}