<div class="header">
  <app-logo></app-logo>

  <nav class="header__navbar">
    <a routerLink="/gallery" class="navbar__item">{{ 'header.nav.gallery' | translate}}</a>
    <a routerLink="/commission" class="navbar__item">{{ 'header.nav.commission' | translate}}</a>
    <a routerLink="/process" class="navbar__item">{{ 'header.nav.process' | translate}}</a>
    <a routerLink="/contact" class="navbar__item">{{ 'header.nav.contact' | translate}}</a>
  </nav>
  
  <button class="header__language-button"
  (click)="switchLang()">
    {{'language' | translate}}
  </button>
</div>
