/* Header And Other Elements */

.header{
    background-color: var(--negativeSpaceAlpha);
    padding: 2rem;
    border-bottom: 1px solid var(--mainAccentAlpha);

    display: flex;
    align-items: center;
    width: 100%;

    position: fixed;
    z-index: 10;
    top: 0;
}

/* Navbar */

.header__navbar{
    display: flex;
    gap: 5rem;
    align-self: center;
    margin-left: auto;
    margin-right: 2rem;
}

.navbar__item{
    color: var(--subtleAccent);
    font-size: 1.6rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    
    transition: color 0.2s;
}

.navbar__item:hover{
    color: var(--mainAccent);
}

.header__language-button{
    font-size: 1.5rem;
    
    border: 1px solid var(--mainAccentAlpha);
    border-radius: 6px;
    
    padding: 1rem 1rem;
    height: 100%;
    margin-left: 2rem;
}

/* MOBILE WEB RESPONSIVENESS */

/* Mobile hamburger menu */
.header__mobile-toggle {
  color: var(--mainAccent);
  font-size: 2.5rem;
  
  border: 3px solid var(--mainAccent);
  margin-left: 2rem;
  padding: 0.5rem 1rem;

  /* Hidden by default */
  display: none;
  background: none;
  cursor: pointer;
}

/* Tablet And Below */
@media (max-width: 1024px) {
  .header__navbar {
    gap: 3rem;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .header {
    padding: 1.5rem;
  }
  
  .header__mobile-toggle {
    display: block;
  }
  
  .header__navbar {
    position: fixed;
    top: 15%;
    left: 0;
    right: 0;

    background-color: var(--negativeSpaceDark);
    padding: 2rem;
    border: 1px solid var(--mainAccent);
    margin: 0;

    flex-direction: column;
    gap: 0;
    
    /* Hidden by default */
    transform: translateY(-100%);
    opacity: 0;
    transition: all 0.3s ease;
    pointer-events: none;
  }
  
  .header__navbar--open {
    transform: translateY(0);
    opacity: 1;
    pointer-events: all;
  }
  
  .navbar__item {
    text-align: center;
    
    padding: 1.5rem 0;
    border-bottom: 1px solid var(--mainAccentAlpha);
    width: 100%;
  }
  
  .header__language-button {
    margin-left: auto;

    width: 10rem;
    background: none;
    color: var(--subtleAccent);
  }
}