<footer>
  <div class="footer__container">
    <div class="footer__section">
      <app-logo></app-logo>

      <p class="footer__text">
        {{'footer.about' | translate}}
      </p>
    </div>
    
    <div class="footer__section">
      <h3 class="footer__title">{{'footer.quick-links' | translate}}</h3>

      <a routerLink="/gallery" class="footer__link">{{ 'header.nav.gallery' | translate}}</a>
      <a routerLink="/commission" class="footer__link">{{ 'header.nav.commission' | translate}}</a>
      <a routerLink="/process" class="footer__link">{{ 'header.nav.process' | translate}}</a>
      <a routerLink="/contact" class="footer__link">{{ 'header.nav.contact' | translate}}</a>
    </div>

    <div class="footer__section">
      <h3 class="footer__title">{{'footer.contact-title' | translate}}</h3>

      <div>
        <p class="footer__text">Estado de México, Mexico</p>
        <p class="footer__text">carmendez@hotmail.com</p>
        <p class="footer__text">+52 (555) 123-4567</p>
      </div>
    </div>

    <div class="footer__section">
      <h3 class="footer__title">{{'footer.international-title' | translate}}</h3>

      <div>
        <p class="footer__text">{{'footer.shipping' | translate}}</p>
        <p class="footer__text">{{'footer.packaging' | translate}}</p>
      </div>
    </div>
  </div> <!-- .footer__container -->

  <div class="footer__bottom">
    <p class="footer__text">{{'footer.copyright' | translate}}.</p>
    <h4>{{'footer.handcrafted' | translate}}</h4>
  </div>
</footer>
