<app-navbar></app-navbar>

<main>
  <div class="hero">
    <h1 class="hero__big-text">{{'home.hero.big-text' | translate}}</h1>
    <p class="hero__small-text">
      {{'home.hero.small-text' | translate}}
    </p>
    <div class="hero__buttons-container">
      <button routerLink="/gallery" class="hero__button active-button">{{'home.hero.button-gallery' | translate}}</button>
      <button routerLink="/commission" class="hero__button">{{'home.hero.button-commission' | translate}}</button>
    </div>
  </div> <!-- .hero -->

  <section class="works">
    <div class="works__header">
      <h1 class="works__title">{{'home.works.title' | translate}}</h1>
      <h4 class="works__subtitle">{{'home.works.subtitle' | translate}}</h4>
    </div>

    <div class="works__gallery">
      @for (painting of paintings(); track painting.id) 
      {
        <app-gallery-item
        [painting]="painting"></app-gallery-item>
      }
    </div> <!-- .works__gallery -->
    <div class="works__view-more">
      <button routerLink="/gallery" class="view-more-button">
        {{'home.works.view-more' | translate}}
      </button>
    </div> <!-- .works__view-more -->
  </section> <!-- .works -->

  <section class="features">
    <h1 class="features__title">{{'home.features.title' | translate}}</h1>
    <h4 class="features__subtitle">{{'home.features.subtitle' | translate}}</h4>

    <div class="features__characteristics">
      <div class="characteristics__card">
        <h4 class="characteristics__icon">💎</h4>
        <h4 class="characteristics__title">{{'home.features.materials.title' | translate}}</h4>
        <p class="characteristics__description">
          {{'home.features.materials.description' | translate}}
        </p>
      </div> <!-- Materials -->
      
      <div class="characteristics__card">
        <h4 class="characteristics__icon">✨</h4>
        <h4 class="characteristics__title">{{'home.features.finishes.title' | translate}}</h4>
        <p class="characteristics__description">
          {{'home.features.finishes.description' | translate}}
        </p>
      </div> <!-- Finishes -->
      
      <div class="characteristics__card">
        <h4 class="characteristics__icon">🪞</h4>
        <h4 class="characteristics__title">{{'home.features.mirrors.title' | translate}}</h4>
        <p class="characteristics__description">
          {{'home.features.mirrors.description' | translate}}
        </p>
      </div> <!-- Mirrors -->
      
      <div class="characteristics__card">
        <h4 class="characteristics__icon">🌟</h4>
        <h4 class="characteristics__title">{{'home.features.led.title' | translate}}</h4>
        <p class="characteristics__description">
          {{'home.features.led.description' | translate}}
        </p>
      </div> <!-- LEDs -->
    </div>
  </section> <!-- .features -->

  <section class="commission">
    <img src="https://images.unsplash.com/photo-1460661419201-fd4cecdf8a8b?w=600" 
    alt="Commission" class="commission__image">

    <div class="commission__details">
      <h1 class="commission__title">{{'home.commission.title' | translate}}</h1>

      <p class="commission__text">
        {{'home.commission.text' | translate}}
      </p>

      <ul>
        <li class="commission__feature">{{'home.commission.features.pyrite' | translate}}</li>
        <li class="commission__feature">{{'home.commission.features.mirrors' | translate}}</li>
        <li class="commission__feature">{{'home.commission.features.resin' | translate}}</li>
        <li class="commission__feature">{{'home.commission.features.negative-space' | translate}}</li>
        <li class="commission__feature">{{'home.commission.features.custom' | translate}}</li>
        <li class="commission__feature">{{'home.commission.features.shipping' | translate}}</li>
      </ul>
      
      <button routerLink="/commission" class="button--commission">
        {{'home.commission.button' | translate}}
      </button>
    </div>
  </section> <!-- .commission -->

  <section class="process">
    <div class="process__header">
      <h1>{{'home.process.title' | translate}}</h1>
      <p class="process__text">
        {{'home.process.subtitle' | translate}}
      </p>
    </div>
  
    <div class="process__details">
      <div class="process__step">
        <div class="step__number">1</div>

        <h2 class="step__title">{{'home.process.consultation.title' | translate}}</h2>

        <p class="step__description">
          {{'home.process.consultation.description' | translate}}
        </p>
      </div>

      <div class="process__step">
        <div class="step__number">2</div>

        <h2 class="step__title">{{'home.process.quotation.title' | translate}}</h2>

        <p class="step__description">
          {{'home.process.quotation.description' | translate}}
        </p>
      </div>

      <div class="process__step">
        <div class="step__number">3</div>

        <h2 class="step__title">{{'home.process.creation.title' | translate}}</h2>

        <p class="step__description">
          {{'home.process.creation.description' | translate}}
        </p>
      </div>

      <div class="process__step">
        <div class="step__number">4</div>

        <h2 class="step__title">{{'home.process.delivery.title' | translate}}</h2>

        <p class="step__description">
          {{'home.process.delivery.description' | translate}}
        </p>
      </div>
    </div>
  </section> <!-- .process -->
</main>

<app-footer></app-footer>
