/* Hero */

.hero{
    background: linear-gradient(rgba(0, 0, 0, 0.596), rgba(0, 0, 0, 0.795)), url(https://images.unsplash.com/photo-1561214115-f2f134cc4912?w=1600) center / cover;
    height: 50vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    text-align: center;
}

.hero__big-text{
    font-size: 9rem;
    font-weight: normal;
}

.hero__small-text{
    color: var(--subtleAccent);
    font-weight: 300;
    font-size: 2.3rem;
    letter-spacing: 2px;
}

/* Commission Designer */

.quotation{
    display: grid;
    grid-template-columns: 1fr 35rem;
    gap: 5rem;

    padding: 5rem;
    background-color: var(--negativeSpace);
}

.quotation__price{
    display: flex;
    flex-direction: column;
    gap: 2rem;

    position: sticky;
    top: 2rem;

    border: 2px solid var(--mainAccent);
    padding: 2rem;
    background-color: var(--negativeSpaceDark);
    height: fit-content;
    
    text-align: center;
}

.quotation__commission-design{
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.commission-design__section{
    border: 1px solid var(--mainAccentAlpha);
    padding: 2rem;
    background-color: var(--negativeSpaceLight);
}

.section__title-group{
    border-bottom: 1px solid var(--mainAccent);
    padding: 1rem 2rem;
}

.section__title{
    font-size: 3rem;
}

.section__subtitle{
    font-size: 1.3rem;
    color: var(--subtleNegativeSpace);
}

/* Utilities */

.item{
    display: flex;
    flex-direction: column;
    gap: 1rem;

    background-color: var(--negativeSpace);
    padding: 1.5rem;
    width: 100%;
    border: 2px solid var(--mainAccentAlpha);
    
    cursor: pointer;
    transition: 0.3s;
}

.item:hover{
    border-color: var(--mainAccent);
}

.item__title-group{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.item__title{
    color: var(--subtleAccent);
}

.item__price{
    color: var(--mainAccent);
    font-size: 1.5rem;
    
    margin-left: auto;
}

.item__description{
    color: var(--subtleNegativeSpace);
    font-size: 1.3rem;

    margin: 0;
}

.section__container{
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.section__options{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* Painting Size Section */

.section__size-options{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
}

.size-options__item{
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--negativeSpace);
    padding: 2rem;
    width: 100%;
    border: 2px solid var(--mainAccentAlpha);
    
    cursor: pointer;
    transition: 0.3s;
}

.size-options__item:hover{
    border-color: var(--mainAccent);
}

.size-options__item--active {
  border-color: var(--mainAccent);
  background-color: var(--mainAccentAlpha);
  transform: translateY(-3px);
  box-shadow: 0 0.5rem 1.5rem rgba(212, 175, 55, 0.3);
}

.size-options__title{
    color: var(--subtleAccent);
    font-family: var(--textFont);
    font-size: 2.2rem;
    font-weight: 600;
}

.size-options__description{
    color: var(--subtleNegativeSpace);
    font-size: 1.3rem;
}

.size-options__price{
    font-family: var(--textFont);
    font-size: 2rem;
    font-weight: 500;
}

/* Price Configurator */

.price__title{
    border-bottom: 1px solid var(--mainAccentAlpha);
    padding: 2rem;

    font-size: 3.5rem;
}

.price__item{
    display: flex;
    padding: 1rem;

    font-family: var(--textFont);
    color: var(--subtleNegativeSpace);
}

.price__item:first-of-type{
    color: var(--subtleAccent);
    font-weight: bold;
}

.price__item-label{
    font-size: 1.6rem;
    text-align: left;
}

.price__item-price{
    font-size: 1.6rem;
    text-align: right;

    margin-left: auto;
}

.price__total-group{
    display: flex;

    border-top: 1px solid var(--mainAccentAlpha);
    padding: 1rem;

    font-weight: normal;
}

.total-group__label{
    font-family: var(--textFont);
    text-transform: uppercase;
    text-align: left;
}

.total-group__number{
    margin-left: auto;

    font-family: var(--textFont);
    text-align: right;
}

.price__button{
    background-color: var(--mainAccent);
    padding: 1rem;
    width: 100%;

    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 0.1rem;
    color: black;
}

.price__button:hover{
    background-color: var(--mainAccentLight);
    border-color: var(--mainAccentLight);
    box-shadow: 0 0.5rem 2rem rgba(212, 175, 55, 0.4);
    transform: translateY(-3px);
}