<main>
	<div class="hero">
		<h1 class="hero__big-text">{{'commission.hero.title' | translate}}</h1>
		<p class="hero__small-text">
			{{'commission.hero.subtitle' | translate}}
		</p>
	</div> <!-- .hero -->

	<section class="quotation">
		<!-- Commission Design (Left Side) -->
		<div class="quotation__commission-design">
			<!-- Painting Size -->
			<div class="commission-design__section">
				<div class="section__container">
					<div class="section__title-group">
						<h2 class="section__title">{{'commission.size.title' | translate}}</h2>
						<p class="section__subtitle">
							{{'commission.size.subtitle' | translate}}
						</p>
					</div>

					<div class="section__size-options">
						<div class="size-options__item">
							<h3 class="size-options__title">{{'commission.size.small.label' | translate}}</h3>
							<p class="size-options__description">{{'commission.size.small.description' | translate}}</p>
							<h2 class="size-options__price">{{'commission.size.small.price' | translate}}</h2>
						</div>
						
						<div class="size-options__item">
							<h3 class="size-options__title">{{'commission.size.medium.label' | translate}}</h3>
							<p class="size-options__description">{{'commission.size.medium.description' | translate}}</p>
							<h2 class="size-options__price">{{'commission.size.medium.price' | translate}}</h2>
						</div>
						
						<div class="size-options__item">
							<h3 class="size-options__title">{{'commission.size.large.label' | translate}}</h3>
							<p class="size-options__description">{{'commission.size.large.description' | translate}}</p>
							<h2 class="size-options__price">{{'commission.size.large.price' | translate}}</h2>
						</div>
						
						<div class="size-options__item">
							<h3 class="size-options__title">{{'commission.size.extra-large.label' | translate}}</h3>
							<p class="size-options__description">{{'commission.size.extra-large.description' | translate}}</p>
							<h2 class="size-options__price">{{'commission.size.extra-large.price' | translate}}</h2>
						</div>
					</div> <!-- .section__size-options -->
				</div> <!-- .section__container -->
			</div> <!-- .commission-design__section -->

			<!-- Stone Coverage -->
			<div class="commission-design__section">
				<div class="section__container">
					<div class="section__title-group">
						<h2 class="section__title">{{'commission.stones.title' | translate}}</h2>
						<p class="section__subtitle">
							{{'commission.stones.subtitle' | translate}}
						</p>
					</div>

					<select>
						<option value="0">{{'commission.stones.options.none' | translate}}</option>
						<option value="200">{{'commission.stones.options.light' | translate}}</option>
						<option value="400">{{'commission.stones.options.medium' | translate}}</option>
						<option value="800">{{'commission.stones.options.heavy' | translate}}</option>
					</select>
				</div> <!-- .section__container -->
			</div> <!-- .commission-design__section -->

			<!-- Frame Selection -->
			<div class="commission-design__section">
				<div class="section__container">
					<div class="section__title-group">
						<h2 class="section__title">{{'commission.frame.title' | translate}}</h2>
						<p class="section__subtitle">
							{{'commission.frame.subtitle' | translate}}
						</p>
					</div>

					<div class="section__options">
						<label class="item">
							<div class="item__title-group">
								<input type="radio" name="frame">
								<h3 class="item__title">{{'commission.frame.wooden.label' | translate}}</h3>
								<span class="item__price">{{'commission.frame.wooden.price' | translate}}</span>
							</div>
							
							<p class="item__description">
								{{'commission.frame.wooden.description' | translate}}
							</p>
						</label>

						<label class="item">
							<div class="item__title-group">
								<input type="radio" name="frame">
								<h3 class="item__title">{{'commission.frame.mirror.label' | translate}}</h3>
								<span class="item__price">{{'commission.frame.mirror.price' | translate}}</span>
							</div>

							<p class="item__description">
								{{'commission.frame.mirror.description' | translate}}
							</p>
						</label>

						<label class="item">
							<div class="item__title-group">
								<input type="radio" name="frame">
								<h3 class="item__title">{{'commission.frame.led-wooden.label' | translate}}</h3>
								<span class="item__price">{{'commission.frame.led-wooden.price' | translate}}</span>
							</div>

							<p class="item__description">
								{{'commission.frame.led-wooden.description' | translate}}
							</p>
						</label>

						<label class="item">
							<div class="item__title-group">
								<input type="radio" name="frame">
								<h3 class="item__title">{{'commission.frame.led-mirror.label' | translate}}</h3>
								<span class="item__price">{{'commission.frame.led-mirror.description' | translate}}</span>
							</div>
							
							<p class="item__description">
								{{'commission.frame.led-mirror.description' | translate}}
							</p>
						</label>
					</div> <!-- .section__options -->
				</div> <!-- .section__container -->
			</div> <!-- .commission-design__section -->

			<!-- Special Features -->
			<div class="commission-design__section">
				<div class="section__container">
					<div class="section__title-group">
						<h2 class="section__title">{{'commission.features.title' | translate}}</h2>
						<p class="section__subtitle">
							{{'commission.features.subtitle' | translate}}
						</p>
					</div>

					<div class="section__options">
						<label class="item">
							<div class="item__title-group">
								<input type="checkbox" name="feature">
								<h3 class="item__title">{{'commission.features.clock.label' | translate}}</h3>
								<span class="item__price">{{'commission.features.clock.price' | translate}}</span>
							</div>
							
							<p class="item__description">
								{{'commission.features.clock.description' | translate}}
							</p>
						</label>
						
						<label class="item">
							<div class="item__title-group">
								<input type="checkbox" name="feature">
								<h3 class="item__title">{{'commission.features.diamond-strips.label' | translate}}</h3>
								<span class="item__price">{{'commission.features.diamond-strips.price' | translate}}</span>
							</div>
							
							<p class="item__description">
								{{'commission.features.diamond-strips.description' | translate}}
							</p>
						</label>
						
						<label class="item">
							<div class="item__title-group">
								<input type="checkbox" name="feature">
								<h3 class="item__title">{{'commission.features.studs.label' | translate}}</h3>
								<span class="item__price">{{'commission.features.studs.price' | translate}}</span>
							</div>
							
							<p class="item__description">
								{{'commission.features.studs.description' | translate}}
							</p>
						</label>
						
						<label class="item">
							<div class="item__title-group">
								<input type="checkbox" name="feature">
								<h3 class="item__title">{{'commission.features.leds.label' | translate}}</h3>
								<span class="item__price">{{'commission.features.leds.price' | translate}}</span>
							</div>
							
							<p class="item__description">
								{{'commission.features.leds.description' | translate}}
							</p>
						</label>
					</div> <!-- .section__options -->
				</div> <!-- .section__container -->
			</div> <!-- .commission-design__section -->

			<!-- Surface Treatments -->
			<div class="commission-design__section">
				<div class="section__container">
					<div class="section__title-group">
						<h2 class="section__title">{{'commission.treatments.title' | translate}}</h2>
						<p class="section__subtitle">
							{{'commission.treatments.subtitle' | translate}}
						</p>
					</div>

					<div class="section__options">
						<label class="item">
							<div class="item__title-group">
								<input type="checkbox" name="treatment">
								<h3 class="item__title">{{'commission.treatments.resin.label' | translate}}</h3>
								<span class="item__price">{{'commission.treatments.resin.price' | translate}}</span>
							</div>
							
							<p class="item__description">
								{{'commission.treatments.resin.description' | translate}}
							</p>
						</label>
						
						<label class="item">
							<div class="item__title-group">
								<input type="checkbox" name="treatment">
								<h3 class="item__title">{{'commission.treatments.geode.label' | translate}}</h3>
								<span class="item__price">{{'commission.treatments.geode.price' | translate}}</span>
							</div>
							
							<p class="item__description">
								{{'commission.treatments.geode.description' | translate}}
							</p>
						</label>
					</div> <!-- .section__options -->
				</div> <!-- .section__container -->
			</div> <!-- .commission-design__section -->

			<!-- Shipping Location -->
			<div class="commission-design__section">
				<div class="section__container">
					<div class="section__title-group">
						<h2 class="section__title">{{'commission.shipping.title' | translate}}</h2>
					</div>

					<select>
						<option value="50">{{'commission.shipping.domestic' | translate}}</option>
						<option value="150">{{'commission.shipping.north-america' | translate}}</option>
						<option value="250">{{'commission.shipping.international' | translate}}</option>
					</select>
				</div> <!-- .section__container -->
			</div> <!-- .commission-design__section -->
		</div> <!-- .quotation__commission-design -->

		<!-- Commission Price (Right Side) -->
		<div class="quotation__price">
			<h2 class="price__title">{{'commission.price.title' | translate}}</h2>

			<div>
				<div class="price__item">
					<span class="price__item-label">{{'commission.price.base' | translate}}</span>
					<span class="price__item-price">$200</span>
				</div>

				<div class="price__item">
					<span class="price__item-label">{{'commission.price.frame' | translate}}</span>
					<span class="price__item-price">$80</span>
				</div>

				<div class="price__item">
					<span class="price__item-label">{{'commission.price.stones' | translate}}</span>
					<span class="price__item-price">$0</span>
				</div>
			</div>

			<div class="price__total-group">
				<h2 class="total-group__label">{{'commission.price.total' | translate}}</h2>
				<h2 class="total-group__number">$0000</h2>
			</div>

			<button class="price__button">
				{{'commission.price.button' | translate}}
			</button>
		</div>
	</section>
</main>
